@media screen and (max-width: 1007px) {
  .navbar-menu.is-active {
    position: absolute;
    right: 0;
    background: #113045;
    z-index: 500;
    border-top: 1px solid #fff;
  }
  .navbar-dropdown {
    opacity: 1;
    a.navbar-item {
      border-bottom: none;
    }
  }
  .navbar-link,
  a.navbar-item {
    border-bottom: none;
  }
  .navbar-dropdown {
    border-bottom: none;
    a.navbar-item {
      &:hover,
      &:active,
      &:focus {
        color: #fecd31;
        border-bottom: none;
      }
    }
  }
  .navbar-link:hover {
    color: #fecd31;
    border-bottom: none;
  }
  a.navbar-item {
    &:hover,
    &:active,
    &:focus {
      color: #fecd31;
      border-bottom: none;
    }
  }
  /* OK */
  .bandeau_getStarted,
  #scrollToTop {
    visibility: hidden;
  }
}
