<div class="column">
  <div class="image image_press" >
    <a href="https://viuz.com/annonce/2017/01/16/adikteev-renforce-son-offre-en-acquerant-le-dsp-mobile-trademob/" target="_blank"> 
      <img src="<%= image_path('logos_press/viuz.jpg') %>"/>
    </a>
    <span class="language">FR</span>
    <span class="envelope"><a href="mailto:camille@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
  </div>
  <div class="textCarousel">
    <p>Adikteev renforce son offre en acquérant le DSP mobile Trademob.</p>
  </div>
</div>