---
title: Art Of Siudmak - Artist
---

<section class="section has-background-dark">
    <div class="columns">
      <div class="column is-4">
        <figure class="image">
          <%= image_tag "welcome-wojtek.jpg" %>
        </figure>
      </div>
      <div class="column">
        <div class="container has-text-white">
            <p><span style="font-weight:bold;">Wojciech Siudmak</span>, French painter and sculptor of Polish origin, was born October 10, 1942 in Wielun. In the years 1956-1961, he studied at the Warsaw College of Fine Arts and then at the Academy of Fine Arts in Warsaw. In September 1966, he arrived in France and continued his studies at the Ecole des Beaux-Arts in Paris.</p>
            <p>For almost 50 years, he lives and works in France. Wojciech Siudmak is considered as the main representative of the fantasy realism, marrying an over-realistic vision and naturalist art.</p>
            <p>He is rooted in the surrealism represented by S. Dali and R. Magritte.</p>
            <br/>
            <p><span style="font-weight:bold;">Wojciech Siudmak</span>, artiste peintre et sculpteur français d'origine polonaise, est né le 10 octobre 1942 à Wielun. Dans les années 1956-1961, il a étudié au Lycée d'arts plastiques de Varsovie et ensuite à l'académie des beaux-arts de Varsovie. En septembre 1966, il arrive en France et continue ses études à l'Ecole des beaux-arts de Paris.</p>
            <p>Depuis près de 50 ans, il vit et travaille en France. Wojciech Siudmak est considéré comme le principal représentant du réalisme fantistique, mariant une vision sur-réaliste et l'art naturaliste.</p>
            <p> Il est enraciné dans le surréalisme représenté par S. Dali et R. Magritte.</p>
        </div>
      </div>
    </div>

</section>
