---
title: Adikteev - Privacy
---

<!--
- From the DocX, save as 'HTML filtered'
- Do not copy the style, but copy the body content into the section BODY_CONTENT
-->

<%= partial "section_title", locals: { title: "PRIVACY POLICY" } %>

<!-- Contenu -->
<section class="privacy_policy">

  <style>
  .hero.is-white a:not(.button) { color: blue; text-decoration: underline;}
  .hero.is-white a:not(.button):visited { color: purple; }
  <!--
   /* Font Definitions */
   @font-face
    {font-family:Helvetica;
    panose-1:0 0 0 0 0 0 0 0 0 0;}
  @font-face
    {font-family:Wingdings;
    panose-1:5 0 0 0 0 0 0 0 0 0;}
  @font-face
    {font-family:SimSun;
    panose-1:2 1 6 0 3 1 1 1 1 1;}
  @font-face
    {font-family:"Cambria Math";
    panose-1:2 4 5 3 5 4 6 3 2 4;}
  @font-face
    {font-family:Calibri;
    panose-1:2 15 5 2 2 2 4 3 2 4;}
  @font-face
    {font-family:Tahoma;
    panose-1:2 11 6 4 3 5 4 4 2 4;}
  @font-face
    {font-family:"\@SimSun";
    panose-1:2 1 6 0 3 1 1 1 1 1;}
   /* Style Definitions */
   p.MsoNormal, li.MsoNormal, div.MsoNormal
    {line-height:115%;
    font-size:11.0pt;
    }
    li.MsoNormal {
      margin-left: 10px;
      color: #3b5066;
      padding-left: 1em;
      text-indent: -.7em;
    }
    li.MsoNormal::before {
      content: "• ";
      color: #3b5066;
    }
  h2
    {mso-style-link:"Titre 2 Car";
    font-size:18.0pt;
    font-weight:bold;}
  p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
    {mso-style-link:"Commentaire Car";
    font-size:10.0pt;
    }
  p.MsoHeader, li.MsoHeader, div.MsoHeader
    {mso-style-link:"En-tête Car";
    font-size:11.0pt;
    }
  p.MsoFooter, li.MsoFooter, div.MsoFooter
    {mso-style-link:"Pied de page Car";
    font-size:11.0pt;
    }
  a:link, span.MsoHyperlink
    {color:blue;
    text-decoration:underline;}
  a:visited, span.MsoHyperlinkFollowed
    {color:purple;
    text-decoration:underline;}
  p
    {font-size:12.0pt;}
  p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
    {mso-style-link:"Objet du commentaire Car";
    font-size:10.0pt;

    font-weight:bold;}
  p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
    {mso-style-link:"Texte de bulles Car";
    font-size:8.0pt;
    }
  p.MsoRMPane, li.MsoRMPane, div.MsoRMPane
    {font-size:11.0pt;
    }
  p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
    {line-height:115%;
    font-size:11.0pt;
    margin-top: 0.5em;
    }
  p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
    {line-height:115%;
    font-size:11.0pt;
    }
  p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
    {line-height:115%;
    font-size:11.0pt;
    }
  p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
    {line-height:115%;
    font-size:11.0pt;
    }
  p.IPTitle, li.IPTitle, div.IPTitle
    {mso-style-name:"IP Title";
    text-align:center;
    line-height:150%;
    font-size:12.0pt;
    text-transform:uppercase;
    text-decoration:underline;}
  span.Titre2Car
    {mso-style-name:"Titre 2 Car";
    mso-style-link:"Titre 2";
    font-weight:bold;}
  span.apple-converted-space
    {mso-style-name:apple-converted-space;}
  span.TextedebullesCar
    {mso-style-name:"Texte de bulles Car";
    mso-style-link:"Texte de bulles";
    }
  span.En-tteCar
    {mso-style-name:"En-tête Car";
    mso-style-link:En-tête;}
  span.PieddepageCar
    {mso-style-name:"Pied de page Car";
    mso-style-link:"Pied de page";}
  span.zzmpTrailerItem
    {mso-style-name:zzmpTrailerItem;

    ;
    position:relative;
    top:0pt;
    letter-spacing:0pt;
    text-decoration:none none;
    vertical-align:baseline;}
  span.CommentaireCar
    {mso-style-name:"Commentaire Car";
    mso-style-link:Commentaire;}
  span.ObjetducommentaireCar
    {mso-style-name:"Objet du commentaire Car";
    mso-style-link:"Objet du commentaire";
    font-weight:bold;}
  span.UnresolvedMention1
    {mso-style-name:"Unresolved Mention1";
    color:gray;
    background:#E6E6E6;}
  .MsoChpDefault
    {font-size:11.0pt;
    }
  .MsoPapDefault
    {line-height:115%;}
   /* Page Definitions */
   @page WordSection1
    {size:612.0pt 792.0pt;
    margin:70.85pt 70.85pt 70.85pt 70.85pt;}
  div.WordSection1
    {page:WordSection1;}
   /* List Definitions */
   ol
    {}
  ul
    {}
  -->
  </style>

<div class="hero is-white"><div class="hero-body"><div class="container"><div class="columns"><div class="column">

<!--
  **********************************************************************************************
  START BODY_CONTENT
  **********************************************************************************************

  - Insert the word content here
  - Remove the color:windowtext and font-family
-->
<div class=WordSection1>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>The ADIKTEEV Privacy Policy was updated on
February 06<sup>th</sup>, 2018.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Your
personal data is important to Adikteev (“<b>ADIKTEEV</b>” or “<b>We</b>”). So
We have developed a privacy policy (“<b>Privacy Policy</b>”) that explains how
We use, disclose, transfer and store your personal data that we collect from
(i) our website </span><span lang=EN-US><a href="http://www.adikteev.com"><span
style=';'>www.adikteev.com</span></a></span><span
lang=EN-US style=''> (the “<b>Website</b>”), (ii)
the operation of our advertising services that We provide to advertisers that
market, offer and/or operate websites or applications that you may access and
(iii) business partner websites that are member of our network (the “<b>Services</b>”).
Please take a moment to read the Privacy Policy and&nbsp;email us (</span><span
lang=EN-US><a href="mailto:legal@adikteev.com"><span style=''>legal@adikteev.com</span></a></span><span
lang=EN-US style=''>) if you have any questions.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>1. How We collect data</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style=''>1.1</span></b><span
lang=EN-US style=''> Regarding ADIKTEEV’s
customers, ADIKTEEV collects information about you from: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>your use of the Website;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>your subscription to
     ADIKTEEV’s Newsletter;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>email’s you send to
     ADIKTEEV; and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>your access to the
     Website backoffice, as applicable.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style=''>1.2</span></b><span
lang=EN-US style=''> Regarding end-users,
ADIKTEEV collects information about you from: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>directly from your use
     of the Services (<i>e.g.</i> when you visit an advertiser’s website,
     browse information and/or buy an item of the said website); </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>directly from your
     devices; and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>indirectly from third
     party data providers such as Exelate and Netacuity</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>indirectly from tracking
     partners such as Appsalar, Tune, Adjust, Kochava, Appsflyer</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>2. Categories of data We collect</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>2.1
Regarding ADIKTEEV’s customers, the categories of data that ADIKTEEV collects
from you include : </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>identification
     information (e.g. name, surname, email address, telephone number); </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>professional life (e.g.
     job position, company); and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>connection data (<i>e.g.</i>
     login credentials access, date and time access to the Website and/or
     Website backoffice);</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>2.2
Regarding end-users, the categories of data that ADIKTEEV collects directly and
indirectly from you include : </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>data relating to your
     personal life (<i>e.g</i>. tastes derived from your browsing history); and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;background:white'><span lang=EN-US style=''>connection
     data (<i>e.g.</i> the publisher / URL accessed, Internet protocol address,
     device information and event information, date and time access to a
     business partner website, member of ADIKTEEV’s network).</span></li>
</ul>

<p class=MsoNormal style='margin-top:18.0pt;margin-right:0cm;margin-bottom:
6.0pt;margin-left:0cm;text-align:justify;background:white'><span lang=EN-US
style='font-size:19.0pt;line-height:115%;'>3. Use
of cookies and similar technologies </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>ADIKTEEV</span><span
lang=EN-US style=''> and its business partners
use various technologies to collect and store information relating to
end-user’s use of desktop and mobile web services. This section does not apply
to ADIKTEEV services relating to mobile application. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>When
you visit a website, and this may include using cookies or similar technologies
to identify your browser and/or device. </span><span lang=EN-US
style='font-family:Helvetica'>Cookies are text files containing a string of
characters which are downloaded to your device when you visit a website and
enable a website to recognize your device on each subsequent visit. This
section does not apply to ADIKTEEV activities on applications.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style=''>3.1
Strictly necessary cookies </span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>This
category of cookies are necessary to enable you to move around the Website and
use its features, such as accessing secure areas of the Website.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>You
may deactivate these cookies using your browser settings (<i>e.g.</i> for web
browsers : </span><span lang=EN-US><a
href="https://support.google.com/chrome/answer/95647"><span style='font-family:
"Arial",sans-serif;;text-decoration:none'>Chrome</span></a></span><span
lang=EN-US style=''>, </span><span lang=EN-US><a
href="https://support.apple.com/kb/ph21411"><span style=';
;text-decoration:none'>Safari</span></a></span><span
lang=EN-US style=''> and </span><span lang=EN-US><a
href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"><span
style=';;text-decoration:none'>Firefox</span></a></span><span
lang=EN-US style=''>; and for mobile platforms: </span><span
lang=EN-US><a href="https://support.apple.com/en-us/HT205223"><span
style=';;text-decoration:none'>iOS</span></a></span><span
lang=EN-US style=''>, </span><span lang=EN-US><a
href="https://support.google.com/ads/answer/2662922"><span style='font-family:
"Arial",sans-serif;;text-decoration:none'>Android</span></a></span><span
lang=EN-US style=''> and </span><span lang=EN-US><a
href="https://choice.microsoft.com/en-US/opt-out"><span style='font-family:
"Arial",sans-serif;;text-decoration:none'>Windows Phone</span></a></span><span
lang=EN-US style=''>). ADIKTEEV informs you that
their deactivation may lead to a drop in performance of the Website. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style='font-family:Helvetica'>3.2 Functionality
cookies  </span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>This category
of cookies allows ADIKTEEV to remember the choices you have made while visiting
the Website such as, where applicable, you user name, passwords and other
preferences. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>You may </span><span
lang=EN-US style=''>deactivate these cookies by
following the instructions provided at </span><span lang=EN-US><a
href="https://www.adikteev.com/cookies"><span style=''>https://www.adikteev.com/cookies</span></a></span><span
lang=EN-US style=''>. </span><span lang=EN-US
style='font-family:Helvetica'>ADIKTEEV informs you that their deactivation may
lead to a drop in performance of the Website. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style='font-family:Helvetica'>3.3.
Performance cookies</span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>This category
of cookies only collect information about the use of the Website for the
benefit of ADIKTEEV in order to manage the performance and design of the
Website. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>You may </span><span
lang=EN-US style=''>deactivate these cookies by
following the instructions provided at </span><span lang=EN-US><a
href="https://www.adikteev.com/cookies"><span style=''>https://www.adikteev.com/cookies</span></a></span><span
lang=EN-US style=''>. </span><span lang=EN-US
style='font-family:Helvetica'>ADIKTEEV informs you that their deactivation may
lead to a drop in performance of the Website. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style='font-family:Helvetica'>3.4
Profiling and targeting and advertising cookies</span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>This category
of cookies are used as part of an advertising network and enables ADIKTEEV to
collect information when you visit an advertiser’s website and/or a business
partner website. Targeting and advertising cookies also enable ADIKTEEV to
distinguish your browsing habits; remember the websites you have visited; interactions
and actions you have performed while visiting a website (<i>e.g.</i> ADIKTEEV </span><span
lang=EN-US style=''>attributes a click or an
impression on an advertisement to a specific user)</span><span lang=EN-US
style='font-family:Helvetica'>, deliver adverts, on behalf of advertisers, more
relevant to you, limit the number of times you see an advertisement as well as
help measure the effectiveness of the advertising campaigns.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-family:Helvetica'>You may </span><span
lang=EN-US style=''>deactivate these cookies by
following the instructions provided at </span><span lang=EN-US><a
href="https://www.adikteev.com/cookies"><span style=''>https://www.adikteev.com/cookies</span></a></span><span
lang=EN-US style=''>. </span><span lang=EN-US
style='font-family:Helvetica'>ADIKTEEV informs you that their deactivation may
lead to a drop in performance of the Services. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>4. How We use data </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style=''>4.1
Legal basis of the personal data processing</span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>The
legal basis for the processing of personal data by ADIKTEEV relies:</span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>regarding ADIKTEEV’s
     customers, on the agreement entered into between the customer and
     ADIKTEEV; </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>regarding end-users, the
     legitimate interest of ADIKTEEV to deliver interest based advertisings
     only so as to deliver more relevant adverts and limit the number of times
     an advert is displayed to you, provided that ADIKTEEV has offered you the
     technical measures to oppose such processing.</span></li>
</ul>

<p class=MsoNormal><b><span lang=EN-US style=''>4.2
Purposes of the personal data processing </span></b></p>

<p class=MsoListParagraph style='margin-left:0cm'><span lang=EN-US
style=''>4.1.1 Regarding ADIKTEEV’s customers,
ADIKTEEV uses your information and personal data that it collects and/or is
provided with to: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>provide you, where
     applicable, access to our business platform backoffice in the Website;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>manage our customer
     relationship;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>deliver interest-based
     advertising to users; </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>track the advertising; </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>train, optimize and
     adjust our advertising tools and Services; </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>evaluate and improve the
     Website and the Services; and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>measure and analyze the
     performance of advertiser’s advertising campaigns to provide them with
     reports and assist them in optimizing metrics.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>4.1.2
Regarding end-users, ADIKTEEV uses your information and personal data that it
collects and/or is provided with to: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>provide you information
     about product, services, promotions, contests, or other activities or
     offerings based on your interests; and </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>deliver interest-based
     advertising.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>ADIKTEEV
uses data provided by its third-party data providers to enrich your information
for the above mentioned purposes.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>5. Data retention </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style=''>5.1
Regarding ADIKTEEV’s customers </span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Regarding
ADIKTEEV’s customers, ADIKTEEV will use and retain your personal data for a
period of time not exceeding the greater of: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>where applicable, the
     duration of your account;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>the duration of the
     processing of your requests; </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>the duration of the advertising
     campaigns;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>the applicable duration
     of statute of limitations.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><b><span lang=EN-US style=''>5.2
Regarding end-users</span></b></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Regarding
end-users, ADIKTEEV will use and retain your personal data for a period of time
not exceeding the greater of:</span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>the delivery of
     interest-based advertising campaigns implemented on behalf of advertisers;</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>three years as from the
     term of the commercial relationship (<i>e.g</i>. a purchase on a website
     and/or application of Adikteev’s customers); </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>three years as from the
     data collection; and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>the applicable duration
     of statute of limitations.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>ADIKTEEV
will use the cookies you have accepted for a period of time not exceeding
thirteen (13) months as from the date of their implementation. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>6. Data recipients</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>ADIKTEEV
may need to disclose your personal data to: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>enforce and protect our
     rights and properties; and</span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>respond to and/or comply
     with applicable regulations, law, court order and/or any other legal
     obligation.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>6.1
Regarding ADIKTEEV’s customers, ADIKTEEV may share your personal data with its
:</span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>authorized members of
     personnel; and </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>third party processors. </span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>6.2
Regarding end-users, ADIKTEEV may share your information and personal data with
its: </span></p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>authorized members of
     personnel; and </span></li>
 <li class=MsoNormal style='margin-top:6.0pt;margin-bottom:6.0pt;text-align:
     justify;text-justify:kashida;text-kashida:0%;background:white'><span
     lang=EN-US style=''>third party processors.</span></li>
</ul>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>7. User rights </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Regarding
end-users, please note that your personal data is used for profiling and
targeting advertising purposes. </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Where
applicable, both the end-users and ADIKTEEV’s customers as data subjects may
access, rectify, delete their personal data, limit the processing of personal
data and, for legitimate reasons, oppose to the processing of their personal
data. Both end-users and ADIKTEEV’s customers can also contact ADIKTEEV to
define the instructions for the processing of their personal data after their
death. Please also note that ADIKTEEV’s customers may exercise their right to
data portability.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Both
the end-users and ADIKTEEV’s customers have the right to, at any time, as well
as to lodge a complaint with a supervisory authority. </span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
6.0pt;margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:
10%;background:white'><span lang=EN-US style=''>In
case of any difficulty with the exercise of any of the rights here above
mentioned, do not hesitate to email us at </span><span lang=EN-US><a
href="mailto:legal@adikteev.com"><span style=''>legal@adikteev.com</span></a></span><span
lang=EN-US style=''> .</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>8. Security measures </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>We
implement number of security measures appropriate to ensure the security of
your information and, notably, prevent any alteration, corruption and any
unauthorized access by any third party.</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>9. Changes to the Privacy Policy </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%'><span
lang=EN-US style=''>ADIKTEEV may change from time
to time the terms of the Privacy Policy and endeavors to notify you any change
and/or update by posting the latest version of the Privacy Policy on this page
and indicating the updated revision date.  </span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style='font-size:19.0pt;line-height:115%;
'>10. Contact ADIKTEEV</span></p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-justify:kashida;text-kashida:0%;
background:white'><span lang=EN-US style=''>Any
question relating to personal data processing by ADIKTEEV and/or this Privacy
Policy, please email us at </span><span lang=EN-US><a
href="mailto:legal@adikteev.com"><span style=''>legal@adikteev.com</span></a></span><span
lang=EN-US style=''> .</span></p>

</div>

<!--
  **********************************************************************************************
  END BODY_CONTENT
  **********************************************************************************************
!-->

</div></div></div></div></div>

</section>
