---
title: Art Of Siudmak - Home
---

<section class="hero">
  <div id="main_banner" class="content has-text-centered" style="transition: background 1s linear;background-image: url('https://www.d-print.pl/___Siudmak/gallery_color/K38-statua-1160x1430.jpg');background-position: center; background-size: cover; min-height: 88vh">
    <p class="title is-huge has-text-white" style="margin-top: 35vh; font-size: 500%;">Art of SIUDMAK</p>
    <div>
      <p class="subtitle is-large has-text-white" style="font-size:250%; margin-bottom:0; "><i>"... We are such stuff as dreams are made of ..."</i></p>
      <p class="is-small has-text-white"><i>William Shakespeare</i></p>
    </div>
    <div style="margin-top:5vh">
      <span>
        <a href="https://www.facebook.com/siudmak.shop/" target="_blank">
            <i class="fab fa-facebook-square fa-2x has-text-white"></i>
        </a>
      <span>
      <span>
      <a href="https://twitter.com/ASiudmak" target="_blank">
          <i class="fab fa-twitter-square fa-2x has-text-white"></i>
      </a>
      </span>
      <span>
      <a href="https://www.instagram.com/siudmak_official/" target="_blank">
          <i class="fab fa-instagram fa-2x has-text-white"></i>
      </a>
      </span>
    </div>
  </div>
</section>

<%= javascript_include_tag "switch_bg" %>
