---
title: Art of siudmak - Legal mentions
---

<%= partial "section_title", locals: { title: "LEGAL MENTIONS" } %>

<!-- Contenu -->
<section class="mentionslegales has-text-centered">
  <!-- section 1 -->
  <div class="hero is-white">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="bloc-title">
              <h1>Information</h1>
            </div>
            <br/><br/>
            <div class="">
              <strong>Adikteev S.A.</strong><br/>
              35, avenue de l'Opéra 75002 Paris, France<br/>
              Société Anonyme au capital social de 100 319,58€<br/>
              Tel: <a href="tel:+33 (0)1 42 61 46 55">+33 (0)1 42 61 46 55</a><br/>
              Mail: <a href="mailto:contact-france@adikteev.com">contact-france@adikteev.com</a>
              <br/><br/>
              Registration Number: RCS de Paris 789 514 619<br/>
              VAT ID: FR03 789 514 619<br/>
              Host: Amazon Web Services (AWS) - 67, Boulevard du Général Leclerc, +33 (0)1 46 17 11 95<br/>
              <b>Publication Director: Xavier Mariani</b>
              <br/><br/>
              <hr>
              <strong>Adikteev GmbH</strong><br/>
              Novalisstraße 10
              10115 Berlin, Germany<br/>
              Tel: <a href="tel:+49 (0)30 202 15 75 10">+49 (0)30 202 15 75 10</a><br/>
              Fax: +49 (0) 30 202 15 75 29<br/>
              Mail: <a href="mailto:contact-germany@adikteev.com">contact-germany@adikteev.com</a>
              <br/><br/>
              Registration Number: District Court Charlottenburg HRB 129239 B<br/>
              VAT ID: DE273952103<br/>
              <b>Managing Directors: Clément Favier and Xavier Mariani</b>
              <br/><br/>
              <hr>
              <strong>Adikteev Inc.</strong><br/>
              2711 Centerville Road, Suite 400
              Wilmington, county of New Castle
              Zip Code 19808 Delaware<br/>
              Tel: <a href="tel:+1 212 203 4837">+1 212 203 4837</a><br/>
              Mail: <a href="mailto:contact-usa@adikteev.com">contact-usa@adikteev.com</a>
              <br/><br/>
              <b>Managing Director: Alexei Chemenda</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>